[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "~=5.0.2"
djangorestframework = "~=3.14.0"
dj-database-url = "~=2.1.0"
pillow = "~=10.0.1"
psycopg2-binary = "~=2.9.9"
urllib3 = "~=1.26.18"
django-crispy-forms = "~=2.0"
django-filter = "~=24.3"
django-tables2 = "~=2.6.0"
django-braces = "~=1.15.0"
django-guardian = "~=2.4.0"
django-js-asset = "~=2.1.0"
django-mptt = "~=0.15.0"
django-phonenumber-field = "~=7.1.0"
django-redis = "~=5.4.0"
django-colorfield = "~=0.11.0"
django-environ = "~=0.11.2"
django-dynamic-preferences = "~=1.15.0"
django-import-export = "~=3.3.1"
django-cleanup = "*"
django-imagefit = "*"
awesome-slugify = "==1.6.5"
gunicorn = "*"
phonenumbers = "*"
crispy-bootstrap5 = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
pandas = "*"
openpyxl = "*"

[requires]
python_version = "3.10"
