[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "~=5.2.17"
djangorestframework = "~=3.17.2"
dj-database-url = "~=3.1"
pillow = "~=12.3"
psycopg2-binary = "~=2.9.12"
urllib3 = "~=2.8"
django-filter = "~=25.2"
django-guardian = "~=3.5"
django-mptt = "~=0.18.0"
django-phonenumber-field = "~=8.5"
django-redis = "~=6.0"
django-colorfield = "~=0.14.0"
django-environ = "~=0.14.0"
django-dynamic-preferences = "~=1.17"
django-import-export = "~=4.4"
django-cleanup = "*"
phonenumbers = "*"
openpyxl = "*"
python-dateutil = "*"
tzdata = "*"
pyjwt = {version = "~=2.15", extras = ["crypto"]}
webauthn = "~=3.0.1"
drf-spectacular = "*"
django-cors-headers = "*"
ruff = "*"
django-rq = "*"
django-auth-ldap = "*"
django-encrypted-model-fields = "*"
mozilla-django-oidc = "*"
spond = "==1.2.1"
pywebpush = "==2.3.0"
nh3 = "==0.3.7"

[requires]
python_version = "3.12"
