{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block page %}

<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <h1>JF Laudenbach Manager</h1>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">E-Mail verschickt!</h3>
                    </div>
                    <div class="panel-body">
                        <p>Wenn es deine E-Mail Adresse bei uns gibt, hast du jetzt eine E-Mail mit einem Reset Link und
                        und einer Anleitung bekommen wie du dein Passwort wiederherstellen kannst.
                        </p>

                        <p>Du kannst diese Seite jetzt schließen.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}